@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #007bff;
}

.start_btn, .info_box, .quiz_box, .result_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2),
                0 6px 20px 0 rgba(0,0,0,0.19);

}

.info_box.activeInfo, .quiz_box.activeQuiz{
    z-index: 5;
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}



/* start quiz button styling */
.start_btn button{
    font-size: 25px;
    font-weight: 500;
    padding: 7px 15px;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.1);
    outline: none;
    cursor: pointer;
    border: none;
    color: #0e60b7;
}

.info_box{
    
    border-radius: 5px;
    width: 540px;
    background-color: #fff;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.info_box .info_title{
    width: 100%;
    height: 60px;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid rgb(237, 237, 237);
    display: flex;
    align-items: center;
}

.info_box .info_list{
    padding: 15px 35px;
}

.info_box .info_list .info{
    margin: 5px 0;
    font-size: 17px;
}

.info_box .info_list .info span{
    font-weight: 600;
    color: #024996;
}

.info_box .buttons{
   display: flex;
   align-items: center;
   justify-content: flex-end;
   margin-bottom: 16px;
   margin-top: 11px;
   border-top: 1px solid rgb(240, 237, 237);
   padding: 10px 38px;
}

.info_box .buttons button{
    padding: 3px 9px;
    margin-right: 7px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    height: 35px;
    width: 80px;
    outline: none;
    color: #fff;
    border: 0.5px solid #007bff;
    transition: all 0.3s ease;
}

.buttons button.restart{
    color: #fff;
    background-color: #007bff;
}
.buttons button.restart:hover{
    background-color: #1468c1;
}

.buttons button.quit{
    color: #007bff;
}

.buttons button.quit:hover{
    background-color: #007bff;
    color: #fff;
}

.quiz_box{
    width: 550px;
    background-color: #fff;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
    

}

.quiz_box header{
    position: relative;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 25px;
    height: 70px;
    border-bottom: 1px solid rgb(223, 222, 222);
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}

.quiz_box header .title{
    font-size: 1.4rem;
    color: #033c7a;
    font-weight: 500;
}

.quiz_box header .timer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: large;
    width: 145px;
    height: 45px;
    background-color: #c1d8ee;
    border-radius: 5px;
    padding-left: 11px;
    padding-right: 11px;
    border: 1px solid #94c2f3;

}

.quiz_box header .timer .time_text{
    font-size: large;
    font-weight: 400;
    user-select: none;
}

.quiz_box header .timer .timer_sec{
    font-size: large;
    font-weight: 600;
    color: #f29e9e;
    user-select: none;
    background-color: #024996;
    width: 35px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #343a40;
}

.quiz_box section{
    padding: 25px 30px 20px 30px;
    font-size: 18px;

}

.quiz_box section .que_text{
    font-size: 25px;
    font-weight: 500;
}

.quiz_box section .option_list{
    padding: 20px 0;
    display: block;
}

.quiz_box section .option_list .option{
    width: 100%;
    background: aliceblue;
    padding: 8px 10px;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #024996;
    cursor: pointer;
    transition: all 0.3s ease;
}

section .option_list .option:hover{
    color: #004085;
    background: #cce5ff;
    border-color: #b8daff;
}

.quiz_box section .option_list .option:last-child{
    margin-bottom: 0px;
}


.option_list .option .icon{
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    line-height: 24px;
    pointer-events: none;
}

section .option_list .option .icon.tick{
    color: #23903c;
    border-color: #23903c;
    background: #d4edda;
}

section .option_list .option .icon.cross{
    color: #d54038;
    border-color: #d54038;
    background: #e7dddd;
}

.quiz_box footer{
    height: 60px;
    width: 100%;
    display: flex;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
}

.quiz_box footer .total_que span{
    display: flex;
}

.quiz_box footer .total_que span p{
    padding-right: 5px;
    font-weight: 500;
}

.quiz_box footer .total_que span p:first-child{
    padding-left: 0px;
}

footer .next_btn{
    /* margin-right: 40px; */
    font-size: 16px;
    padding: 3px 12px;
    border-radius: 5px;
    border-color: #1468c1;
    border: 1px solid #1468c1;
    transition: all 0.3s ease;
    background: #007bff;
    color:#fff;
    cursor: pointer;
}

footer .next_btn:hover{
    background: #145498;
}


/* result box CSS */
.result_box{
    background: #fff;
    width: 400px;
    padding: 10px 25px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);

}
.result_box .icon{
    font-size: 100px;
    color: gold;
    pointer-events: none;
    margin-bottom: 10px;
}

.result_box .complete_text{
    font-size: 20px;
    font-weight: 500;
}

.result_box .score_text span , p{
    display: flex;
    margin-right: 5px;
    margin-bottom: 10px;
}
.result_box .score_text  p{
    margin-left: 5px;
    font-weight: 500;

}

.result_box .buttons button{
    margin: 0 4px;
    border-radius: 5px;
    padding: 3px 9px;
    background: #1669c2;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: navajowhite;
    transition: all0.3s ease;

}

.result_box .buttons button:hover{
    background: #6b9ed3;
}